@import 'common/variables';
@import 'common/sizes';

.dashboard {
  @include side-indent('large');

  &__content {
    padding: 40px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $grid-dashboard-gap;
  }
}