@import 'common.scss';
@import 'common/variables';
@import 'common/buttons';
@import 'common/avatar';
@import 'common/sizes';
@import 'common/form';

.profile {
  @include side-indent('large');

  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: $grid-dashboard-gap;
    padding: 40px 0;
  }

  &__left {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
  }

  &__center {
    display: flex;
    flex-direction: column;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px 40px;
    border-bottom: 1px solid #f3f3f3;
  }

  &__avatar {
    @include avatar;

    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    font-size: 24px;
  }

  &__name {
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 0.6px;
    color: $font-color;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__info-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  &__info-item-icon {
    margin-right: 15px;
    padding: 10px;
    width: 38px;
    height: 38px;
    border-radius: 6px;
    background-color: #efedfd;
  }

  &__info-item-content {
    display: flex;
    flex-direction: column;
  }

  &__info-item-amount {
    margin-bottom: 5px;
    font-weight: 500;
  }

  &__info-item-text {
    font-size: 12px;
    color: $font-color-gray;
    opacity: 0.9;
    letter-spacing: 1px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  &__details-title {
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 0.6px;
    color: $font-color-gray;
    opacity: 0.7;
    text-transform: uppercase;
  }

  &__details-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }

  &__details-label {
    margin-right: 5px;
    color: $font-color;
    font-weight: 600;
  }

  &__details-text {
    color: $font-color-gray;
    opacity: 0.9;
    font-size: 14px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  &__btn {
    @include btn-inline($bg-color-primary);
    @include btn-dark;
    
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__tabs {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
  }

  &__tab {
    display: inline-flex;
    height: 40px;
    align-items: center;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 0.6px;
    color: $font-color-gray;
    opacity: 0.9;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f3f3f3;
    }

    &.active {
      color: #fff;
      opacity: 1;
      background-color: $bg-color-primary;
    }
  }

  &__activity {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
  }

  &__security {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;

    .form {
      @include default-form;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .form-field {
        width: calc(50% - 10px);
      }

      .form__error {
        width: 100%;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #fdecec;
        color: $color-error;
        font-size: 15px;
        letter-spacing: 0.6px;
      }

      input {
        padding-right: 40px;
      }

      .form-field-toggler {
        position: absolute;
        top: 50%;
        right: 10px;
        height: 24px;
        width: 24px;
        transform: translateY(-50%);
        background-image: url('../icons/eye.svg');
        opacity: 0.4;
        cursor: pointer;
        z-index: 3;

        &.visible {
          background-image: url('../icons/eye-cross.svg')
        }
      }
    }

    button {
      @include btn-inline($bg-color-primary);
      @include btn-dark;

      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  &__security-title {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.6px;
    color: $font-color;
  }

  &__security-info {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 0.6px;
    color: #ff9f43;
    background-color: #fef4e9;
  }

  // Modal

  .modal {
    .form {
      @include default-form;

      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 280px;
      margin: 0 auto;

      button {
        @include btn-inline($bg-color-primary);
        @include btn-dark;

        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .form__error {
        margin-bottom: 10px;
        font-size: 12px;
        color: $color-error;
      }
    }
  }
}