// backgrounds
$bg-color-light: #f5f5f5;
$bg-color-dark: #333;
$bg-color-primary: #8080fd;

// colors
$color-primary: #8080fd;
$font-color: #33303CDE;
$font-color-gray: #495057;
$color-error: #ff0000;

// sizes
$btn-login-width: 150px;
$header-height: 70px;

// gaps
$grid-dashboard-gap: 30px;

// durations
$show-up-duration: 0.2s;