// backgrounds
$bg-color-light: #f5f5f5;
$bg-color-dark: #333;
$bg-color-primary: #8080fd;

// colors
$color-primary: #8080fd;
$font-color: #33303CDE;
$font-color-gray: #495057;
$color-error: #ff0000;
$color-gray: #d3cdcd;

// sizes
$btn-login-width: 150px;
$header-height: 70px;

// gaps
$grid-dashboard-gap: 30px;

// durations
$show-up-duration: 0.2s;

// shadows
$block-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgb(0, 0, 0, 0.08);